@font-face {
    font-family: 'Outfit';
    src: url('static/Outfit-Regular.ttf');
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.7;
    background-color: hsl(217, 54%, 11%);
    box-sizing: border-box;
    position: relative;
}

.container__large {
    width: 35rem;
    height: 55rem;
    background-color: rgba(0, 0, 0, .05);
    padding-top: 2rem;
    border-radius: 1.6rem;
    margin: 2.5rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 90%;
    height: 95%;
    background-color: hsl(216, 59%, 7%);
    margin: 0 2rem 3rem 2rem;
    border-radius: 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__card {
    width: 90%;
    height: 95%;
    padding: 1.6rem;
    background-color: hsl(216, 50%, 16%);
    border-radius: 1.6rem;
}

.container__card--img {
    text-align: center;
    height: 24rem;
    display: flex;
}

.container__card--pic {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    margin-left: 0%;
}

.eye__div {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    text-align: center;
    background-color: hsl(178, 100%, 50%, .5);
    display: none;
    transition: all .2s linear;
    margin-left: -100%;
}

.container__card--img:hover .eye__div {
    display: block;
    cursor: pointer;
}

.container__img--eye {
    margin-top: 9rem;
}

.container__card--pic:hover,
.container__card--pic:active {
    cursor: pointer;
    color: aqua;
}

.container__card--text * {
    margin-top: 1.5rem;

    cursor: pointer;
}

.card__text--1 {
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff;
    transition: all .3s;
}

.card__text--1:hover,
.card__text--1:active {
    color: hsl(178, 100%, 50%);
}

.card__text--2 {
    font-size: 1.4rem;
    line-height: 1.5;
    color: hsl(215, 51%, 70%);
    width: 100%;
}

.container__ethereum {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__svg {
    width: 9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__svg svg path {
    width: 3rem;
    height: 3rem;
}

.eth {
    display: inline-block;
    color: hsl(178, 100%, 50%);
    font-size: 1.5rem;
}

.svg--2 {
    width: 8rem;
}

.time-left {
    display: inline-block;
    font-size: 1.3rem;
    color: hsl(215, 51%, 70%);
}

.container__line {
    height: .1px;
    margin-top: 1.5rem;
    width: 100%;
    background-color: hsl(215, 32%, 27%);
}

.container__attribution {
    width: 80%;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__attribution--img {
    width: 2.5rem;
    border-radius: 50%;
    border: solid 1px white;
}

.container__attribution--text1 {
    display: inline-block;
    color: hsl(215, 51%, 70%);
    font-size: 1.3rem;
}

.container__attribution--text2 {
    display: inline-block;
    color: #ffffff;
    font-size: 1.3rem;
    transition: all .3s linear;
}

.container__attribution--text2:hover,
.container__attribution--text2:active {
    cursor: pointer;
    color: hsl(178, 100%, 50%);
}

.footer {
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
}

.attribution {
    font-size: 1.2rem;
}

.attribution__text {
    display: inline-block;
    color: hsl(215, 61%, 20%);
    margin-top: 1rem;
}

.attribution__link--1 {
    display: inline-block;
    text-decoration: none;
    color: hsl(215, 51%, 70%);
    transition: all .2s linear;
}

.attribution__link--2 {
    display: inline-block;
    text-decoration: none;
    color: hsl(215, 51%, 70%);
    transition: all .2s linear;
}

.attribution__link--1:hover,
.attribution__link--1:active {
    transform: rotate(-3deg) scale(1.04);
    font-weight: 600;
}

.attribution__link--2:hover,
.attribution__link--2:active {
    transform: rotate(3deg) scale(1.04);
    font-weight: 600;
}

/* MEDIA QUERIES FOR RESPONSIVE DESIGN*/
@media (min-width: 141em) {
    body {
        font-size: 1.6rem;
        position: relative;
    }

    .container__large {
        width: 26%;
        height: 75vh;
        background-color: rgba(0, 0, 0, .05);
        position: relative;
        top: 50%;
        left: 25%;
        transform: translate(-50% -50%);
        padding-top: 2rem;
        border-radius: 2rem;
        margin-top: 2rem;
    }
}


@media (max-width: 56.25em) {
    html {
        font-size: 60%;
    }

    .container__large {
        width: 32rem;
        height: 53rem;
    }

    .container__card--img {
        height: 22rem;
    }

    footer {
        width: 60%;
    }
}

@media (max-width: 50em) {
    .container__large {
        width: 30rem;
        height: 51rem;
    }

    .container__card--img {
        height: 20rem;
    }

    .container__attribution {
        width: 85%;
    }

    footer {
        width: 90%;
    }
}


@media (max-width: 37.5em) {
    html {
        font-size: 58%;
    }

    footer {
        width: 100%;
    }

    .container__attribution {
        margin-top: 2rem;
        width: 85%;
    }
}

@media (max-width: 25em) {

    html {
        font-size: 54%;
    }

    .container__large {
        margin-top: 1rem;
    }

    footer {
        width: 100%;
    }
}